.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.file-input-container {
  position: relative;
  display: inline-block;
}

.custom-file-input label {
  display: none;
}

.custom-label {
  cursor: pointer;
}

.custom-file-input input[type="file"] {
  display: none;
}

.custom-file-input-wrapper .file-path::before {
  display: none;
}

.custom-file-input-signup-container {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: left;
  padding-bottom: 4%;
}

.hidden-file-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.custom-file-label {
  cursor: pointer;
  margin-top: -10px;
  transition: 0.3s;
}

.custom-file-label:hover {
  color: #3C96FE;
}

.file-upload-success {
  display: inline-block;
  margin-left: 10px;
  color: #4D9D5B;
}

.input-wrapper:hover .custom-file-label {
  color: #3C96FE;
}

.custom-file-label.error {
  border-color: #dc3545;
}

Nav.css
.mobile-nav-link {
  display: none;
}

.mobile-nav-link {
  font-size: 16px;
}

.custom-card {
  width: 100%;
}

@media (min-width: 768px) {
  .custom-card {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .mobile-nav-link {
    font-size: 16px;
  }
}

.container-padding {
  padding-left: 50px;
}

@media (max-width: 992px) {
  .container-padding {
    padding-left: 10px;
  }
}

.shoes {
  width: auto;
  height: 300px;
  margin-top: 0;
}

@media (max-width: 767px) {
  .shoes {
    height: 200px;
  }
}

.custom-select {
  background-color: transparent;
  width: 100%;
  height: 65%;
  border: solid;
  border-color: #bdbdbd;
  color: #4c635f;
  border-radius: 3px;
  border-width: 1px;
  padding-left: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .custom-select {
    height: 50px;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
